{% extends "base.html" %}

{% block body %}
<form class="ui form {% if errors %}error{% endif %}" action="/_/create" method="POST">
  <h2 class="ui header">Create a Post</h2>
  <div class="ui error message">
      <div class="header">
          There were some errors with your submission
      </div>
      <ul class="list">
          {% for msg in errors %}
          <li>{{ msg | capfirst }}</li>
          {% endfor %}
      </ul>
  </div>

  <div class="required field {% if errors.email %}error{% endif %}">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title" {% if model.title %}value="{{ model.title }}"{% endif %}>
  </div>

  <div class="required field {% if errors.username %}error{% endif %}">
    <label>Content</label>
    <textarea rows="30" name="content" placeholder="Content">{% if model.content %}{{ model.content }}{% endif %}</textarea>
  </div>

<div class="field">
    <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" name="injection" id="injection" {% if model.injection == "on" %}checked{% endif %}>
      <label for="injection">Enable SQL injection</label>
    </div>
  </div>

  {% csrf_token %}

  <button class="ui primary button" type="submit">Post</button>
</form>
{% endblock %}
