<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Something went wrong..</title>
    <style>
      html, body {
        font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img style="margin-top: 150px auto 0 auto;" src="/static/500.webp"/>
    <p style="text-align:center; font-size: 22px;">Ooops, something went wrong with our server. Please check back later.</p>

    <p style="text-align: left; width: 700px; font-weight: bold; margin: 0 auto; color: #AAA; font-size: 14px;">DEBUG INFORMATION</p>

    <pre style="text-align:left; width: 700px; margin: 10px auto 0 auto; color: #AAA; overflow-x: scroll;">{{ message }}</pre>
  </body>
</html>
