<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/static/semantic.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
      <div class="ui fixed inverted pointing menu">
          <div class="ui container">
              <a href="/" class="header item">Sableye</a>
              <a href="/" class="item">Home</a>

              <div class="right menu">
                  {% if user.username == null %}
                  <a class="item" href="/login">Login</a>
                  <a class="item" href="/register">Register</a>
                  {% else %}
                  <a class="item" href="/_/create">
                      <i class="plus icon"></i>
                      Create
                  </a>
                  <a class="item">{{ user.username }}{% if user.role == "admin"%}<div class="ui green horizontal label">admin</div>{% endif %}</a>
                  <a class="item" href="/logout">Logout</a>
                  {% endif %}
              </div>
          </div>
      </div>

      <div class="ui main text container">
          {% block body %}
          {% endblock %}
      </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal inverted small">
          <p>A class project for CS166.</a>
          {% if last_visit.path %}
          <p>Last visited page is {{ last_visit.path }} at {{ last_visit.time | from_timestamp | date }} {{ last_visit.time | from_timestamp | time }}</p>
          {% endif %}
      </div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">About</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  </body>
</html>
