{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block body %}
<div class="ui divided items">
    {% for post in posts %}
    <div class="item">
        <div class="content">
            <a class="header" href="/post/{{ post.id }}">{{ post.title }}</a>
            <div class="extra">Wrote by {{ post.user.username }} | Created at {{ post.inserted_at | ndt_to_erl | date }}</div>
            <div class="description">
                {{ post.content | myescape | md | truncatewords:80 | safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
